.NewsPage {
    padding: 20px 0;
    background: var(--bg);

    .title {
        padding: 20px 40px 0;
    }

    .description {
        padding: 10px 40px 0;
    }

    .padding {
        padding: 0 40px;
    }
}