.app_dark_theme {
    --main-bg: #EDEDED;
    --bg: #FFFFFF;
    --light-bg: #DDDDDD;
    --dark-bg: #232323;
    --text: #404040;
    --black-text: #000000;
    --grey-text: #777777;
    --light-grey-text: #C4C4C4;
}
