.NewsListItem {
    .image {
        min-width: 200px;
        max-height: 132px;
        object-fit: cover;
    }
}

.small {
    .image {
        min-width: 91px;
        max-height: 60px;
        object-fit: cover;
    }
}

.NewsListItem,
.small {
    &:not(:last-child) {
        box-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, 0.15);
    }
}

.mobile {
    .image {
        min-width: 122px;
        max-height: 80px;
        object-fit: cover;
    }
}