.MainLayout {
    .header {
        width: 100%;
    }

    .content {
        width: 100%;
        justify-self: center;
    }

    .footer {
        width: 100%;
    }
}

.desktop {
    .header {
        height: var(--navbar-height);
    }

    .content {
        max-width: 1000px;
    }
}

.mobile {
    .header {
        height: var(--mobile-navbar-height);
    }
}