.primary {
    padding: 5px;
    color: var(--text);
    background-color: var(--bg);
    border: 1px solid var(--grey-text);

    &:hover {
        color: var(--green-color);
        border: 1px solid var(--green-color);
    }
}
