.desktop {
    display: grid;
    grid-template-areas: 'content right';
    grid-template-columns: 640px 320px;
    grid-column-gap: 10px;
    padding: 10px 15px;
    align-items: start;

    .content {
        grid-area: content;
        width: 100%;
    }

    .right {
        grid-area: right;
        position: sticky;
        top: 32px;
    }
}

.mobile {
    padding: 3px 0;
}

.desktop,
.mobile {
    .content {
        min-height: calc(100vh - var(--navbar-height));
    }
}